table {
  border-collapse: collapse;
  background: rgba(255,255,255,0.1);
  margin: 0 auto;
  text-align: center;
  border-left: 3px solid #B592A0;
  color: white;
}
thead {
  background: rgba(255, 255, 255, 0.1);
}
th,td {
  padding: 18px;
}
